@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Source+Sans+Pro:wght@400;700&display=swap');


body {
  font-family: 'Source Sans Pro', sans-serif;

  background-color: #1E293B;
}

button {
  font-family: 'Source Sans Pro', sans-serif;

}


h1, h2, h3, h4, h5, h6 {
  color: #FCD34D;

}
p {
  color: #FCD34D;
}

.canvas {
  display: flex;
  justify-content: center; /* Center horizontally */

}

.create-story-style {
  margin: 10px;
  padding: 5px 10px;
  background-color: #FCD34D; /* Yellow background */
  border: none;
  border-radius: 5px;
  color: #1E293B; /* Dark text */
  cursor: pointer;
}

.saveButton {
  margin: 10px;
  padding: 5px 10px;
  background-color: #FFFFFF; /* White background */
  border: none;
  border-radius: 5px;
  color: #1E293B; /* Dark text */
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transition */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Shadow for 3D effect */
}

.saveButton:hover {
  background-color: #2758a6; /* Dark background on hover */
  color: #FFFFFF; /* White text on hover */
  transform: scale(1.2); /* Slightly increase size on hover */
}

.saveButton:active {
  background-color: #D1D5DB; /* Light grey background when active */
  color: #1E293B; /* Dark text when active */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); /* Reduce shadow when active */
  transform: scale(0.9); /* Slightly decrease size when active */
}

 button, input {
  margin: 10px;
  padding: 5px 10px;
  background-color: #FCD34D; /* Yellow background */
   border: none;
  border-radius: 5px;
  color: #1E293B; /* Dark text */
   cursor: pointer;
} 

.genre-options .button {
  margin: 10px;
  padding: 5px 10px;
  background-color: #FFFFFF; /* Yellow background */
  border: none;
  border-radius: 5px;
  color: #1E293B; /* Dark text */
  cursor: pointer;
}

.genre-options .button:hover {
  background-color: #2758a6; /* Dark background on hover */
  color: #FFFFFF; /* White text on hover */
  transform: scale(1.1); /* Slightly increase size on hover */
}

.genre-options .selected {
  margin: 10px;
  padding: 5px 10px;
  background-color: #FCD34D; /* Yellow background */
  border: none;
  border-radius: 5px;
  color: #1E293B; /* Dark text */
  cursor: pointer;
}

.canvas-container .button {
  margin: 10px;
  padding: 5px 10px;
  background-color: #FCD34D; /* Yellow background */
  border: none;
  border-radius: 5px;
  color: #1E293B; /* Dark text */
  cursor: pointer;
}

.canvas-container input[type='color'] {
  margin: 10px;
  padding: 0px 1px;
  background-color: #FCD34D; /* Yellow background */
  border: none;
  border-radius: 5px;
  color: #1E293B; /* Dark text */
  cursor: pointer;
}

.canvas-container input[type='color'] {
  height: 30px; /* Adjust the height as needed */
  width: 30px; /* Adjust the width as needed */
  border: 1px solid #1E293B; /* Optional: Adds a border */
  border-radius: 5px; /* Optional: Rounds the corners */
  cursor: pointer;
}

.canvas-container input[type='range'] {
  width: 200px;
}


/* Styling for range input thumb */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #1E293B;
  cursor: pointer;
}


.App {
  text-align: center;
  align-items: center;
}


.create-story-style {
  display: inline-block;
  background-color: #f4f4f4;
  color: #000;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
}

.fileUpload {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.fileUpload:hover {
  background-color: #2758a6;
  color: #f4f4f4;
}

.title-landing {
  font-family: 'Megrim', cursive;
  font-size: 96px;
  display: flex;
  align-self: flex-start;
  margin-left: 40px;
  margin-bottom: -10px;
}

.title {
  font-family: 'Megrim', cursive;
  font-size: 60px;
  margin-bottom: -10px;
}

.caption-landing {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 35px;
  color: white;
  display: flex;
  align-self: flex-start;
  margin-left: 40px;
  padding-bottom: 40px;
}

.button-landing {
  font-size: 35px;
  border-radius: 20px;
  width: 650px;
  height: 100px;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
